{% extends 'base.html' %}

{% block title %}Detail Article {% endblock title %}

{% block content %}

    <!-- Main Content -->
    <div id="main" class="site-main">
        <!-- Single Page Content -->
        <div class="single-page-content">
            <div class="content-area">
                <div class="page-content">
                    <!-- Blog Entry Content -->
                    <div class="blog-post-main-image">
                        <img class="post-image img-responsive" src="{{ article.image_full.url }}" alt=""/>
                    </div>

                    <div class="blog-post-content">
                        <h1>{{ article.title }}</h1>

                        <div class="entry-meta">
                            <span class="date"><a><i class="fa fa-fw fa-clock-o"></i>{{ article.creat_at|date:"d N, Y" }}</a></span>
                        </div>

                        <p>{{ article.body }}</p>

                        <blockquote>
                            <p>Your time is limited, so don't waste it living someone else's life. Don't be trapped by
                                dogma - which is living with the results of other people's thinking. Don't let the noise
                                of others' opinions drown out your own inner voice. And most important, have the courage
                                to follow your heart and intuition.</p>
                            <footer><cite>Steve Jobs</cite></footer>
                        </blockquote>

                        <div class="entry-meta entry-tags-share">
                            <!-- Share Buttons -->
                            {#                  <div class="btn-group share-buttons pull-right hidden-xs">#}
                            {#                    <a href="#" target="_blank" class="btn"><i class="fa fa-facebook"></i> </a>#}
                            {#                    <a href="#" target="_blank" class="btn"><i class="fa fa-twitter"></i> </a>#}
                            {#                    <a href="#" target="_blank" class="btn"><i class="fa fa-dribbble"></i> </a>#}
                            {#                  </div>#}
                            <!-- /Share Buttons -->
                            <ul class="tags">
                                <li><a>python</a></li>
                                <li><a>Django</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End of Blog Entry Content -->
                </div>
            </div>
        </div>
        <!-- End of Single Page Content -->
    </div>

{% endblock %}