<!DOCTYPE html>
<html class="loading" lang="en-US">

    <head>
        {% include 'includes/head.html' %}
        <title>{% block title %}{% endblock title %}</title>
    </head>

    <body class="material-template">
        <!-- Loading animation -->
        <div class="preloader">
            <div class="preloader-animation">
                <div class="preloader-spinner">
                </div>
            </div>
        </div>

        {% include 'includes/navbar.html' %}
        {% include 'includes/messages.html' %}

        {% block content %} {% endblock %}

        {% include 'includes/footer.html' %}
    </body>

</html>
