{#    <!-- Loading animation -->#}
{#    <div class="preloader">#}
{#      <div class="preloader-animation">#}
{#        <div class="preloader-spinner">#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

    <!-- /Loading animation -->
{#    <div class="page" id="page">#}
      <!-- Header -->
      <header id="site_header" class="header mobile-menu-hide">
        <div class="header-content">
          <div class="site-title-block mobile-hidden">
            <div class="site-title">Parham <span>Esmaeili</span></div>
          </div>

          <!-- Navigation -->
          <div class="site-nav">
            <!-- Main menu -->
            <ul id="nav" class="site-main-menu">
              <li>
                <a class="pt-trigger" href="{% url 'home:home' %}#home" data-animation="62">Home</a> <!-- href value = data-id without # of .pt-page. -->
              </li>
              <li>
                <a class="pt-trigger" href="{% url 'about_me:about_me' %}#resume" data-animation="62">Resume</a>
              </li>
{#              <li>#}
{#                <a class="pt-trigger" href="{% url 'home:home' %}#services" data-animation="62">Services</a>#}
{#              </li>#}
              <li>
                <a class="pt-trigger" href="{% url 'portfolio:portfolio' %}#portfolio" data-animation="62">Portfolio</a>
              </li>
              <li>
                <a class="pt-trigger" href="{% url 'article:article' %}#blog" data-animation="62">Blog</a>
              </li>
              <li>
                <a class="pt-trigger" href="{% url 'contact_me:contact_me' %}#contact" data-animation="62">Contact</a>
              </li>
            </ul>
            <!-- /Main menu -->
          </div>
{#          <!-- Navigation -->#}
        </div>
      </header>
      <!-- /Header -->

{#      <!-- Mobile Header -->#}
{#      <div class="mobile-header mobile-visible">#}
{#        <div class="mobile-logo-container">#}
{#          <div class="mobile-site-title">Alex Smith</div>#}
{#        </div>#}
{##}
{#        <a class="menu-toggle mobile-visible">#}
{#          <i class="fa fa-bars"></i>#}
{#        </a>#}
{#      </div>#}
      <!-- /Mobile Header -->

{#    </div>#}


