{% load static %}

<footer>
{#    <div class="copyrights">© 2017 All rights reserved. Material template <a href="https://www.mellatweb.com/"> Mellatweb.com</a></div>#}
</footer>


<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.shuffle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.hoverdir.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
