{% extends 'base.html' %}

{% block title %} Portfolio list {% endblock title %}

{% block content %}

    <!-- Main Content -->
    <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
            <!-- Subpages -->
            <div class="subpages">

                <!-- Portfolio Subpage -->
                <section class="pt-page-current" data-id="portfolio">
                    <div class="section-inner custom-page-content">
                        <div class="page-header color-1">
                            <h2>Portfolio</h2>
                        </div>
                        <div class="page-content">

                            <!-- Portfolio Content -->
                            <div class="portfolio-content">

                                <!-- Portfolio Grid -->
                                <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                                    {% for portfolio in portfolios %}
                                        <!-- Portfolio Item 1 -->
                                        <figure class="item">
                                            <a class="ajax-page-load" href="{{ portfolio.get_absolute_url }}">
                                                <img src="{{ portfolio.image.url }}" alt="">
                                                <div>
                                                    <h5 class="name">{{ portfolio.name }}</h5>
                                                    <small>more...</small>
                                                    <i class="fa fa-file-text-o"></i>
                                                </div>
                                            </a>
                                        </figure>
                                    {% endfor %}
                                    <!-- /Portfolio Item 1 -->
                                </div>
                                <!-- /Portfolio Grid -->

                            </div>
                            <!-- /Portfolio Content -->
                        </div>
                    </div>
                </section>
                <!-- /Portfolio Subpage -->
            </div>
        </div>
    </div>

{% endblock %}
